@import 'libs/normalize';

.content {
  display: flex;
  color: #fff;
  font-family: Roboto, serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 33px;
  min-height: 100vh;
  position: relative;
}
.overflow {
  overflow: hidden;
  height: 100vh;
}
a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}
.left-side {
  width: 45%;
  background-image: url(../img/left-bg.jpg);
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
}
.right-side {
  width: 55%;
  padding: 35px 50px;
  background-image: url(../img/right-bg.jpg);
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: top;
  align-items: center;
  flex-direction: column;
}
.halloween-text-title {
  font-size: 24px;
  font-weight: 900;
}
.right__content {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.link {
  position: absolute;
  right: 50px;
  top: 35px;
  text-decoration: underline;
}
.logo {
  margin-bottom: 20px;
}
.halloween-title {
  position: relative;
  margin-bottom: 30px;
  & .finished {
    position: absolute;
    top: 47px;
    transform: rotate(-20deg) translateX(50%);
    right: 50%;
  }
}
.halloween-list p {
  padding-left: 100px;
  padding-right: 50px;
  // max-width: 800px;
  // width: 100%;
  position: relative;
  &::before {
    position: absolute;
    content: '';
    width: 42px;
    height: 36px;
    background-image: url(../img/Pump.png);
    background-size: cover;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
  }
}
.btn-list {
  max-width: 830px;
  width: 100%;
  margin-top: 50px;
  z-index: 5;
  display: flex;
  justify-content: space-around;
  a {
    font-size: 27px;
    line-height: 40px;
    padding: 10px 37px;
    border-radius: 28px;

    &.active {
      background-color: #ff9311;
      box-shadow: 0px 6px 0px rgba($color: #a05e0e, $alpha: 1);
    }
  }
}

.bottom-shadow {
  z-index: -1;
  position: absolute;
  height: 100px;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 60%);
  bottom: 0;
  left: 0;
  right: 0;
}

.popup-bg {
  &.visible {
    visibility: visible;
    opacity: 1;
  }
  z-index: 200;
  display: flex;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  background-color: rgba($color: #000000, $alpha: 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity 0.5s ease-in-out;
  justify-content: center;
  align-items: center;
}

#open_popup {
  cursor: pointer;
  z-index: 200;
  border: 2px dashed #ff9311;
}

.popup {
  z-index: 100;
  transition: all 0.3s;
  position: relative;
  background-color: #121a29;
  padding: 40px 0;
  font-size: 35px;
  line-height: 43px;
  text-align: center;
  max-width: 1000px;
  width: 100%;
  border-radius: 30px;
  border: 1px solid #fff;
  & p {
    padding: 10px 0;
    margin: 0;
  }
}
.popup__close {
  cursor: pointer;
  outline: none;
  user-select: none;
  position: absolute;
  top: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
  right: -20px;
  background-color: #ff7f0e;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-transform: uppercase;
  font-size: 30px;
}

//FAQ
.faq {
  background-image: url(../img/FAQ.jpg);
  background-size: cover;
  font-family: Roboto, serif;
  color: #fff;
  background-repeat: no-repeat;
  background-position: left center;
  position: relative;
}
.faq__inner {
  margin: 0 auto;
  max-width: 1400px;
  display: flex;
  justify-content: flex-end;
}
.terms {
  max-width: 725px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.68);
  min-height: 100vh;
}
.terms__title {
  font-size: 52px;
  font-weight: 400;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ff9311;
}
.terms__steps {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}
.step {
  width: 230px;
  min-height: 170px;
  background-color: rgba($color: #222a3b, $alpha: 0.8);
  padding: 0 105px 0 150px;
  margin: 20px 0;
  border-radius: 40px;
  overflow: hidden;
  position: relative;
  box-shadow: -5px 10px 15px 6px rgba($color: #000, $alpha: 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: -8px 8px 8px rgba($color: #000, $alpha: 0.5);
  &::before {
    content: '';
    position: absolute;
    bottom: 1px;
    left: 0;
    right: 0;
    height: 10px;
    background-color: #ff9311;
  }
  &::after {
    content: '';
    font-size: 110px;
    font-weight: 900;
    position: absolute;
    left: 40px;
    text-shadow: -8px 8px 8px rgba($color: #000, $alpha: 0.5);
    letter-spacing: 0px;
  }
}
.step:nth-child(1)::after {
  content: '1.';
}
.step:nth-child(2)::after {
  content: '2.';
}
.step:nth-child(3)::after {
  content: '3.';
}
.step-text {
  max-width: 310px;
  width: 100%;
  margin-left: 15px;
}
.step-number {
  font-size: 40px;
  line-height: 60px;
  text-transform: uppercase;
  font-weight: 700;
}
.step-info {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  a {
    text-transform: inherit;
    color: #ff9311;
    text-decoration: underline;
  }
}
.bonus-code {
  z-index: 999;
  margin-top: 20px;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  & span {
    color: #ff9311;
    z-index: 999;
  }
}
//end FAQ

//start leaderboards
.leaderboards {
  min-height: 100vh;
  background-color: #181d25;
  background-image: url(../img/Pattern.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  font-family: Roboto, serif;
  overflow: hidden;
}
.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
}
.leaderboards__inner {
  position: relative;
}
.leaderboards-top {
  text-align: center;
  position: relative;
  text-shadow: -8px 8px 8px rgba($color: #000, $alpha: 0.5);
}
.leaderboards-title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #232a35;
  font-size: 28px;
  line-height: 60px;
  min-height: 60px;
  font-weight: 900;
  margin-bottom: -5px;
  box-shadow: 0 30px 20px rgba(0, 0, 0, 0.2);
  z-index: 2;
  position: relative;
}

.link-back {
  z-index: 2;
  background-color: #ff9311;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(48px - 30%);
  padding: 5px 25px 5px 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  position: relative;
}
.leaderboards-prizepool {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: calc(30px - 30%);
  line-height: calc(45px - 30%);
  font-weight: bold;
  img {
    margin-top: 30px;
    max-width: 300px;
    width: 100%;
  }
  margin-bottom: 10px;
}
.leaderboards-prizepool-inner {
  margin-bottom: 20px;
}
.leaderboards-places {
  display: flex;
  justify-content: space-around;
}
.place {
  text-align: center;
  margin: 0 10px;
}
.place-number {
  font-size: 22px;
  line-height: 33px;
  white-space: nowrap;
}
.place-prize {
  font-size: 24px;
  line-height: 36px;
}
.leaderboards-tables {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 100px;
  position: relative;
}
.table__inner {
  margin: 0 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.table-title {
  font-weight: 900;
  font-style: italic;
  font-size: 32px;
  line-height: 48px;
  margin-bottom: 10px;
}
.table {
  position: relative;
  z-index: 5;
  background-color: #171c24;
  max-width: 100%;
  width: 100%;
  border: 2px solid #7d8ca4;
  border-radius: 19px;
  padding: 20px 15px;
  font-size: 22px;
  line-height: 36px;
  font-weight: 700;
  & td {
    border-bottom: 1px solid #262c37;
  }
}
.table tr .winner {
  color: #ff9b25;
}

.table-first-row {
  font-weight: 300;
  font-size: 20px;
}
.table-hex {
  z-index: 1;
  bottom: -40px;
  right: 20px;
  position: absolute;
  max-width: 80px;
  width: 100%;
}
.table-pump {
  position: absolute;
  z-index: 6;
  bottom: -100px;
  height: 160px;
}
.footer-text {
  text-align: center;
  font-weight: 300;
  color: #7d8ca4;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 20px;
  & p {
    margin: 0;
    padding: 0;
  }
}

//end leaderboards

@media (max-width: 1500px) {
  .table {
    max-width: 90%;
    width: 90%;
    margin: 0 10px;
  }
}
@media (max-width: 1300px) {
  .left-side {
    display: none;
  }
  .right-side {
    width: 100%;
  }
  .popup {
    max-width: 80%;
    padding: 20px;
  }
}
@media (max-width: 1000px) {
  .leaderboards-tables {
    flex-wrap: wrap;
  }
  .table__inner {
    min-width: 100%;
    width: 100%;
    margin-bottom: 20px;
  }

  .faq {
    background-position: right bottom;
  }
  .terms {
    max-width: 2000px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    min-height: 100vh;
  }
}

@media (max-width: 900px) {
  .link {
    display: none;
  }
  .leaderboards-prizepool-inner {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    flex-direction: column;
  }
}
@media (max-width: 850px) {
  .link {
    display: none;
  }
}

@media (max-width: 715px) {
  .right-side {
    padding: 20px;
  }
  .content {
    font-size: 18px;
  }
  .btn-list a {
    font-size: 22px;
    line-height: 33px;
    padding: 10px 37px;
    border-radius: 28px;
  }
  .popup {
    font-size: 24px;
    line-height: 36px;
  }
}
@media (max-width: 630px) {
  .table .username {
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    max-width: 200px;
  }
  .place-number {
    font-size: 18px;
    line-height: 27px;
  }
  .place-prize {
    font-size: 24px;
    line-height: 36px;
  }
  .btn-list {
    max-width: 100%;
    flex-wrap: wrap;
    a {
      text-align: center;
      max-width: 220px;
      width: 80%;
      margin-bottom: 20px;
    }
  }
  .halloween-title {
    text-align: center;
    position: relative;

    img {
      width: 100%;
    }
  }

  .logo {
    text-align: center;
    img {
      width: 60%;
    }
  }
}

@media (max-width: 540px) {
  .table {
    font-size: 24px;
    line-height: 36px;
  }
  .table-first-row {
    font-size: 20px;
  }
  .halloween-list p {
    padding-left: 60px;
    padding-right: 20px;
    position: relative;
  }
  .halloween-list p::before {
    left: 0;
  }
  .step {
    width: 40%;
    padding: 10px 50px 10px 120px;
    &::after {
      font-size: 80px;
    }
  }
  .step-text {
    max-width: 500px;
  }
  .terms__title {
    font-size: 36px;
    line-height: 54px;
    height: 120px;
  }
  .step-number {
    font-size: 35px;
    line-height: 48px;
  }
  .table-pump {
    height: 180px;
    bottom: -150px;
  }
  .leaderboards-tables {
    margin-bottom: 150px;
  }
  .footer-text {
    font-size: 16px;
    line-height: 24px;
  }
  .container {
    padding-bottom: 20px;
  }
}
@media (max-width: 480px) {
  .leaderboards-places {
    display: none;
  }
  .table-hex {
    display: none;
  }
  .leaderboards-prizepool-inner {
    margin-bottom: 0;
  }
  .terms__steps .step::after {
    display: none;
  }
  .step {
    width: 50%;
    padding: 10px 50px 10px 50px;
    text-align: center;
    .step-text {
      margin-left: 0px;
    }
  }
  .bonus-code {
    & span {
      display: block;
    }
  }
}

@media (max-width: 440px) {
  .table .username {
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    max-width: 150px;
  }
  // .leaderboards-title {
  //   font-size: 36px;
  //   line-height: 48px;
  //   min-height: 80px;
  // }
  // .link-back {
  //   font-size: 24px;
  //   line-height: 36px;
  // }
  .table {
    font-size: 20px;
    line-height: 30px;
  }
  .table-first-row {
    font-size: 18px;
  }
  .popup {
    font-size: 22px;
    line-height: 32px;
  }
  .content {
    font-size: 16px;
    line-height: 24px;
  }
  .halloween-text-title {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 10px;
    margin-top: 40px;
  }
  .halloween-title .finished {
    top: 57px;
  }
  .halloween-title {
    margin-bottom: 10px;
  }
  .popup {
    max-width: 70%;
    padding: 20px;
  }
}
